In [1]:
import pandas as pd
from sqlalchemy import create_engine
import requests

In [3]:
pd.__version__

'2.2.0'

In [5]:
df = pd.read_parquet('yellow_tripdata_2023-01.parquet')

In [16]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.30,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.90,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.90,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.10,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.40,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3066761,2,2023-01-31 23:58:34,2023-02-01 00:12:33,NaN,3.05,NaN,None,107,48,0,15.80,0.00,0.5,3.96,0.0,1.0,23.76,NaN,NaN
3066762,2,2023-01-31 23:31:09,2023-01-31 23:50:36,NaN,5.80,NaN,None,112,75,0,22.43,0.00,0.5,2.64,0.0,1.0,29.07,NaN,NaN
3066763,2,2023-01-31 23:01:05,2023-01-31 23:25:36,NaN,4.67,NaN,None,114,239,0,17.61,0.00,0.5,5.32,0.0,1.0,26.93,NaN,NaN
3066764,2,2023-01-31 23:40:00,2023-01-31 23:53:00,NaN,3.15,NaN,None,230,79,0,18.15,0.00,0.5,4.43,0.0,1.0,26.58,NaN,NaN
3066765,2,2023-01-31 23:07:32,2023-01-31 23:21:56,NaN,2.85,NaN,None,262,143,0,15.97,0.00,0.5,2.00,0.0,1.0,21.97,NaN,NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3066766 entries, 0 to 3066765
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
dtypes: datetime64[us](2), float64(12), int64(4), object(1)
memory usage: 444.6+ MB

In [2]:
engine = create_engine('postgresql://root:root@localhost:5433/ny_taxi')

In [3]:
engine.connect()

In [11]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [12]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [13]:
batch_size = 100000

# Número total de filas en el DataFrame
total_rows = len(df)

# Calcular el número de lotes necesarios
num_batches = (total_rows // batch_size) + 1

# Dividir el DataFrame en lotes y cargar en la base de datos
for i in range(num_batches):
    start_index = i * batch_size
    end_index = min((i + 1) * batch_size, total_rows)
    
    batch_df = df.iloc[start_index:end_index]
    
    # Cargar el lote actual en la base de datos
    batch_df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append', index=False)
    
    print(f"Lote {i + 1}/{num_batches} cargado en la base de datos")

print("Proceso de carga completo.")

Lote 1/31 cargado en la base de datos
Lote 2/31 cargado en la base de datos
Lote 3/31 cargado en la base de datos
Lote 4/31 cargado en la base de datos
Lote 5/31 cargado en la base de datos
Lote 6/31 cargado en la base de datos
Lote 7/31 cargado en la base de datos
Lote 8/31 cargado en la base de datos
Lote 9/31 cargado en la base de datos
Lote 10/31 cargado en la base de datos
Lote 11/31 cargado en la base de datos
Lote 12/31 cargado en la base de datos
Lote 13/31 cargado en la base de datos
Lote 14/31 cargado en la base de datos
Lote 15/31 cargado en la base de datos
Lote 16/31 cargado en la base de datos
Lote 17/31 cargado en la base de datos
Lote 18/31 cargado en la base de datos
Lote 19/31 cargado en la base de datos
Lote 20/31 cargado en la base de datos
Lote 21/31 cargado en la base de datos
Lote 22/31 cargado en la base de datos
Lote 23/31 cargado en la base de datos
Lote 24/31 cargado en la base de datos
Lote 25/31 cargado en la base de datos
Lote 26/31 cargado en la base de datos
Lote 27/31 cargado en la base de datos
Lote 28/31 cargado en la base de datos
Lote 29/31 cargado en la base de datos
Lote 30/31 cargado en la base de datos
Lote 31/31 cargado en la base de datos
Proceso de carga completo.

In [19]:
def download_file(url, local_filename):
    with requests.get(url, stream=True) as response:
        with open(local_filename, 'wb') as file:
            for chunk in response.iter_content(chunk_size=8192):
                if chunk:
                    file.write(chunk)

In [22]:
url = 'https://d37ci6vzurychx.cloudfront.net/misc/taxi+_zone_lookup.csv'
csv_name = 'taxi_zones.csv'

In [25]:
download_file(url, csv_name)

In [26]:
df_zones = pd.read_csv('taxi_zones.csv')

In [27]:
df_zones

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [28]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265

In [5]:
!ping pgdatabase

La solicitud de ping no pudo encontrar el host pgdatabase. Compruebe el nombre y
vuelva a intentarlo.